.z{
    margin-top: 25px;
    margin-left: 50%;
    font-size: 27px;
}
.r{
    display: inline-block;
    height: 44px;
    width: 44px;
padding: 5px;
    background-color: white;
    border: 1px solid black;
}
.r1{
    background-color: rgb(187, 175, 175);
    
  
}
.r2{
    border-radius: 22%;
    margin-left: 16px;
    padding-left: 16px;
    padding-bottom: 42px;
}